{% extends "index.html" %}

{% block show_msg_part%}
    {% if ShortMsg != -1 %}
        <table>
            <tr>
                <th>序号</th>
                <th>运营商</th>
                <th>省市</th>
                <th>号码</th>
                <th>短信内容</th>
                <th>接收时间</th>
            </tr>
            {% for msgs in ShortMsg %}
                <tr>
                    <td> {{ msgs.id }}</td>
                    <td>{{ msgs.operator }}</td>
                    <td>{{ msgs.province }}</td>
                    <td>{{ msgs.tel }}</td>
                    <td>{{ msgs.content }}</td>
                    <td>{{ msgs.receive_time }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <br />
        <br />
        <p>没有符合条件的短信</p>
    {% endif %}
{% endblock %}
